<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mieter Applikation</title>

  <meta content="width=device-width, user-scalable=no" name="viewport">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,100,900,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="mosto.css">
  <link rel="stylesheet" href="style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script src="script.js"></script>
</head>
<body ng-app="app" ng-controller="ViewController" ng-init="showMenu = showUserMenu = false" ng-class="{'show-menu': showMenu}">
  <div class="full-height" id="page-content">
    <header id="nav-header">
      <div class="wrapper">
        <nav id="main-nav">
          <ul>
            <li ng-repeat="entry in [
              {text: 'Pinnwand', hash: 'pinnwand', link: 'pinnwand'},
              {text: 'Meldungen', hash: 'meldungen', link: 'meldungen/alle'},
              {text: 'Termine', hash: 'termine', 'link': 'termine/alle'},
              {text: 'Personen', hash: 'personen', link: 'personen'},
              {text: 'Dokumente', hash: 'dokumente', link: 'dokumente'}
            ]" ng-class="{active: hash == entry.hash}"><a ng-href="#{{entry.link}}">{{entry.text}}</a></li>
          </ul>
        </nav>
        <div id="main-nav-btn" ng-click="showMenu = !showMenu">
          <div class="a"></div>
          <div class="b"></div>
        </div>
      </div>
    </header>
    <header id="system-header">
      <div class="wrapper">
        <a href="#"><img id="system-logo" height="26" src="images/logo-goldinger.png" alt="Logo Goldinger"></a>
        <div id="user-link" ng-click="showUserMenu = !showUserMenu">
          <span style="background-image: url('images/person01.png');"></span>
          <ul ng-show="showUserMenu">
            <li><a href="#profil">Profil</a></li>
            <li><a href="#einstellungen">Einstellungen</a></li>
            <li><a href="#">abmelden</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="wrapper">
      <div id="views">
        <section ng-show="hash == 'pinnwand'">
          <div class="dashboard">
            <section class="yellow">
              <div class="header">Meldungen</div>
              <div class="content">
                <ul class="list">
                  <li class="msg prev">
                    <div class="msg-header">
                      <div class="date">04.04.2016</div>
                      <div class="from">Frank Sommer, an Sie</div>
                    </div>
                    <div class="msg-body">
                      Guten Tag Herr Schreiner, ich hoffe Sie haben sich gut eingelebt! Bei Fragen k&ouml;nnen Sie sich jederzeit &uuml;ber dieses Portal bei mir melden.<br>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ipsa velit voluptas perferendis dolorum laudantium iusto placeat molestiae dolor facilis, numquam ullam quidem nesciunt dicta laborum tempora,<br>mollitia adipisci suscipit.
                    </div>
                    <a class="msg-link right-inline page-link" href="#meldungen/alle">Zu den Meldungen</a>
                  </li>
                </ul>
              </div>
            </section>
            <section class="blue">
              <div class="header">Termine</div>
              <div class="content">

              </div>
            </section>
            <section>
              <div class="header">Ihre Daten</div>
              <div class="content">
                <div class="person">
                  <div class="person-image" style="background-image: url('images/person01.png')"></div>
                  <div class="person-details">
                    <div class="person-name">Andreas Schneider</div>
                    <div class="person-contact">
                      078 655 89 66<br>
                      <a class="inline-link" ng-href="mailto:andreas.schneider@gmail.com">andreas.schneider@gmail.com</a>
                    </div><br>
                    <a class="page-link" href="#profil">Profil bearbeiten</a>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </section>
        <section ng-show="hash == 'meldungen'">
          <div class="split-view">
            <section class="left">
              <ul class="sub-nav">
                <li ng-repeat="entry in [
                {text: 'Alle Meldungen', sub: 'alle'},
                {text: 'Neue Meldung', sub: 'neu'},
                ]" ng-class="{active: sub == entry.sub}"><a ng-href="#meldungen/{{entry.sub}}">{{entry.text}}</a></li>
              </ul>
            </section>
            <section class="right">
              <section ng-show="sub == 'alle'">
                <ul class="list ">
                  <li class="msg big">
                    <div class="msg-header">
                      <div class="date">04.04.2016</div>
                      <div class="from">Frank Sommer, an Sie</div>
                    </div>
                    <div class="msg-body">
                      Guten Tag Herr Schreiner, ich hoffe Sie haben sich gut eingelebt! Bei Fragen k&ouml;nnen Sie sich jederzeit &uuml;ber dieses Portal bei mir melden.<br>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ipsa velit voluptas perferendis dolorum laudantium iusto placeat molestiae dolor facilis, numquam ullam quidem nesciunt dicta laborum tempora,<br>mollitia adipisci suscipit.
                    </div>
                    <div class="msg-footer">
                      <input type="button" class="button primary" value="antworten">
                      <input type="button" class="button right-inline" value="Meldung l&ouml;schen">
                    </div>
                  </li>
                  <li class="msg big">
                    <div class="msg-header">
                      <div class="date">01.04.2016</div>
                      <div class="from">Petra St&auml;hli, an
                        <div class="inline person-roles">
                          <span>Mieter</span>
                        </div>
                      </div>
                    </div>
                    <div class="msg-body">
                      Hallo zusammen, vermisst jemand seinen Hauseingangsschlüssel? Jemand hat ihn stecken lassen. Ist bei mir abholbereit.<br>Gruss, Petra
                    </div>
                    <div class="msg-footer">
                      <input type="button" class="button primary" value="antworten">
                      <input type="button" class="button right-inline" value="Meldung l&ouml;schen">
                    </div>
                  </li>
                </ul>
              </section>
              <section ng-show="sub == 'neu'">
                <label class="form-field block">
                  <span>An</span>
                  <select>
                    <option>Eigentümer</option>
                    <option>Mieter</option>
                  </select>
                  <select>
                    <option>Buchenweg 7</option>
                  </select>
                </label>
                <label class="form-field block">
                  <span>Meldung</span>
                  <textarea cols="30" rows="10"></textarea>
                </label>
                <input type="button" class="button primary" value="senden">
              </section>
            </section>
          </div>
        </section>
        <section ng-show="hash == 'termine'">
          <div class="split-view">
            <section class="left">
              <ul class="sub-nav">
                <li ng-repeat="entry in [
                {text: 'Alle Termine', sub: 'alle'},
                {text: 'Neuer Termin', sub: 'neu'},
                ]" ng-class="{active: sub == entry.sub}"><a ng-href="#termine/{{entry.sub}}">{{entry.text}}</a></li>
              </ul>
            </section>
            <section class="right">
              <section ng-show="sub == 'alle'">
                <ul class="list ">
                  <li class="appointment big">
                    <div class="appointment-header">
                      <div class="date">06.11.2016</div>
                      <div class="title">Nebenkostenabrechnung</div>
                      <div class="from">Frank Sommer, an
                        <div class="inline person-roles">
                          <span>Mieter</span>
                        </div>
                      </div>
                    </div>
                    <div class="appointment-body">
                      Die allj&auml;hrliche Nebenkostenabrechnung.
                    </div>
                  </li>
                  <li class="appointment big">
                    <div class="appointment-header">
                      <div class="date">07.04.2016</div>
                      <div class="title">Briefkasten beschriften</div>
                      <div class="from">Frank Sommer, an Sie</div>
                    </div>
                    <div class="appointment-body">
                      Schreiben Sie bitte, wie vereinbart, den Briefkasten an.
                    </div>
                  </li>
                  <li class="appointment big">
                    <div class="appointment-header">
                      <div class="date">01.04.2016</div>
                      <div class="title">Einzug</div>
                      <div class="from">Frank Sommer, an Sie</div>
                    </div>
                    <div class="appointment-body">
                      Ihr Einzug in die Wohnung.
                    </div>
                  </li>
                </ul>
              </section>
              <section ng-show="sub == 'neu'">
                <label class="form-field block">
                  <span>Datum</span>
                  <input type="text">
                </label>
                <label class="form-field block">
                  <span>Betreff</span>
                  <input type="text">
                </label>
                <label class="form-field block">
                  <span>An</span>
                  <select>
                    <option>Eigentümer</option>
                    <option>Mieter</option>
                  </select>
                  <select>
                    <option>Buchenweg 7</option>
                  </select>
                </label>
                <label class="form-field block">
                  <span>Termin</span>
                  <textarea cols="30" rows="10"></textarea>
                </label>
                <input type="button" class="button primary" value="senden">
              </section>
            </section>
          </div>
        </section>
        <section ng-show="hash == 'personen'" ng-init="persons = [
          {name:'Frank Sommer', phone: '+41 78 460 69 36', email: 'frank.sommer@bluewin.ch', roles: ['Vermieter', 'Mieter'], image: 'person01.png'},
          {name:'Petra St&auml;hli', phone: '+41 66 260 29 66', email: 'petra.s@hotmail.com', roles: ['Mieter'], image: 'person02.png'},
          {name:'Tobias M&uuml;ller', phone: '+41 78 460 69 36', email: 'muellertobias@gmx.net', roles: ['Mieter'], image: 'person03.png'},
          {name:'Elias Giezendanner', phone: '+41 78 261 11 29', email: 'elias@giezendanner.ch', roles: ['Mieter'], image: 'person04.png'},
          {name:'G&uuml;nter Klein', phone: '+41 78 921 66 49', email: 'gklein@klein.li', roles: ['Mieter'], image: 'person05.png'},
          {name:'Hans Frick', phone: '+41 78 223 99 69', email: 'frick.hans@adon.li', roles: ['Mieter'], image: 'person06.png'},
          {name:'Samuel Zingg', phone: '+41 78 896 65 24', email: 'frank.sommer@bluewin.ch', roles: ['Mieter'], image: 'person07.png'}
        ]">
          <div class="filter">
            <select>
              <option>Buchenweg 7</option>
            </select>
            <input type="text" placeholder="suchen">
            <input type="button" class="button" value="Codes Verwalten">
          </div>
          <ul class="persons-list">
            <li class="person" ng-repeat="person in persons">
              <div class="person-image" ng-style="{'background-image': 'url(images/{{person.image}})'}"></div>
              <div class="person-details">
                <div class="person-name">{{person.name}}</div>
                <div class="person-contact">
                  {{person.phone}}<br>
                  <a class="inline-link" ng-href="mailto:{{person.email}}">{{person.email}}</a>
                </div>
                <div class="person-roles">
                  <span ng-repeat="role in person.roles">{{role}}</span>
                </div>
              </div>
            </li>
          </ul>
        </section>
        <section ng-show="hash == 'profil'">
          <h2>Profil</h2>
          <div class="person-image" style="background-image: url('images/person01.png')"></div>

          <label class="form-field block">
            <span>Vorname</span>
            <input type="text" value="Andreas">
          </label>
          <label class="form-field block">
            <span>Nachname</span>
            <input type="text" value="Schneider">
          </label>
          <label class="form-field block">
            <span>E-Mail</span>
            <input type="text" value="andreas.schneider@gmail.com">
          </label>
          <label class="form-field block">
            <span>Telefon</span>
            <input type="text" value="078 655 89 66">
          </label>
          <input type="button" class="button primary" value="speichern">
        </section>
        <section ng-show="hash == 'einstellungen'">
          <h2>Einstellungen</h2>
          <label class="form-field block">
            <span>Bevorzugte Kontaktweise</span>
            <select>
              <option>E-Mail</option>
              <option>Brief</option>
            </select>
          </label>
          <label class="form-field block">
            <span>E-Mail Benachrichtigungen</span>
            <select>
              <option>ja</option>
              <option>nein</option>
            </select>
          </label>
          <input type="button" class="button primary" value="speichern">
        </section>
        <section ng-show="hash == 'dokumente'">
          <ul class="list" id="documents">
            <li class="document big">

              <div class="document-body">
                <div class="title">Mietvertrag</div>
                <div class="from">Frank Sommer, an Sie</div>
              </div>
              <div class="actions">
                <div class="icon-btn blue" title="anzeigen"><span class="material-icons">&#xE56B;</span></div>
                <div class="icon-btn blue" title="Information">
                  <span>i</span>
                  <div class="detail">
                    <div class="file">Datei: 2016-04-01-mietvertrag.pdf</div>
                    <div class="date">Datum: 01.04.2016</div>
                  </div>
                </div>
              </div>
            </li>
            <li class="document big">
              <div class="document-body">
                <div class="title">Zu Erledigen</div>
                <div class="from">privates Dokument</div>
              </div>
              <div class="actions">
                <div class="icon-btn blue" title="bearbeiten"><span class="material-icons">&#xE254;</span></div>
                <div class="icon-btn blue" title="anzeigen"><span class="material-icons">&#xE56B;</span></div>
                <div class="icon-btn blue" title="Information">
                  <span>i</span>
                  <div class="detail">
                    <div class="file">Datei: todo.txt</div>
                    <div class="date">Datum: 28.03.2016</div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </section>
      </div>
    </div>
    <footer id="page-footer">
      <div class="wrapper">
        Mieter Applikation v. 0.1
        <a class="right-inline inline-link" href="mailto: christoph.buehler@hotmail.com">Feedback</a>
      </div>
    </footer>
  </div>
</body>
</html>
